**DATASET FIFA 24**

**1. Import Google Drive**

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**2. Import Libraries**

In [23]:
import pandas as pd

In [31]:
# Baca file .xlsx
file_path = '/content/drive/MyDrive/Colab Notebooks/Dataset/player_stats.csv'
data = pd.read_csv(file_path, encoding='latin1')
print(data)

                        player   country  height  weight  age  \
0     Cristian Castro Devenish  Colombia     192      84   22
1             Silaldo Taffarel    Brazil     181      80   31
2                Thomas DÃ¤hne   Germany     193      84   29
3            Michael Sollbauer   Austria     187      86   33
4                Diego Segovia   Uruguay     191      80   23
...                        ...       ...     ...     ...  ...
5677             Mohamed Salah     Egypt     175      71   31
5678                Sadio Mané   Senegal     174      69   31
5679                 Neymar Jr    Brazil     175      68   31
5680         Cristiano Ronaldo  Portugal     187      83   38
5681        Zlatan Ibrahimovi?    Sweden     195     102   41

                   club  ball_control  dribbling  marking  slide_tackle  ...  \
0        Atl. Nacional             55         43      NaN            68  ...
1          Corinthians             69         70      NaN            56  ...
2        Holstein Kiel             25         12      NaN            13  ...
3        SK Rapid Wien             46         48      NaN            66  ...
4        Independiente             14          8      NaN            14  ...
...                 ...           ...        ...      ...           ...  ...
5677          Liverpool            86         88      NaN            41  ...
5678  FC Bayern München            86         88      NaN            38  ...
5679           Paris SG            94         95      NaN            29  ...
5680           Al Nassr            87         81      NaN            24  ...
5681              Milan            85         75      NaN            24  ...

      curve  fk_acc  penalties  volleys  gk_positioning  gk_diving  \
0        32      34         41       33              10         11
1        65      62         48       46              12         15
2        20      15         26       16              64         74
3        25      13         22       19              10         10
4         9      10         16        5              61         59
...     ...     ...        ...      ...             ...        ...
5677     84      69         86       83              11         14
5678     77      64         75       75               7         10
5679     88      87         91       86              15          9
5680     79      75         90       85              14          7
5681     79      74         80       87               9         13

      gk_handling  gk_kicking  gk_reflexes         value
0               6           7            9    $1.400.000
1              14           8           14      $975.00
2              65          68           74    $1.100.000
3               8          14            9      $650.00
4              62          64           64      $300.00
...           ...         ...          ...           ...
5677           14           9           14   $99.500.000
5678           10          15           14  $101.000.000
5679            9          15           11   $99.500.000
5680           11          15           11   $31.000.000
5681           15          10           12   $10.500.000

[5682 rows x 41 columns]

3. **Menampilkan struktur variable data FIFA24**

In [32]:
print("Struktur Data Football Player:")
print(data.info())

Struktur Data Football Player:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5682 entries, 0 to 5681
Data columns (total 41 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   player          5682 non-null   object
 1   country         5682 non-null   object
 2   height          5682 non-null   int64
 3   weight          5682 non-null   int64
 4   age             5682 non-null   int64
 5   club            5682 non-null   object
 6   ball_control    5682 non-null   int64
 7   dribbling       5682 non-null   int64
 8   marking         0 non-null      float64
 9   slide_tackle    5682 non-null   int64
 10  stand_tackle    5682 non-null   int64
 11  aggression      5682 non-null   int64
 12  reactions       5682 non-null   int64
 13  att_position    5682 non-null   int64
 14  interceptions   5682 non-null   int64
 15  vision          5682 non-null   int64
 16  composure       5682 non-null   int64
 17  crossing        5682 non-null   int64
 18  short_pass      5682 non-null   int64
 19  long_pass       5682 non-null   int64
 20  acceleration    5682 non-null   int64
 21  stamina         5682 non-null   int64
 22  strength        5682 non-null   int64
 23  balance         5682 non-null   int64
 24  sprint_speed    5682 non-null   int64
 25  agility         5682 non-null   int64
 26  jumping         5682 non-null   int64
 27  heading         5682 non-null   int64
 28  shot_power      5682 non-null   int64
 29  finishing       5682 non-null   int64
 30  long_shots      5682 non-null   int64
 31  curve           5682 non-null   int64
 32  fk_acc          5682 non-null   int64
 33  penalties       5682 non-null   int64
 34  volleys         5682 non-null   int64
 35  gk_positioning  5682 non-null   int64
 36  gk_diving       5682 non-null   int64
 37  gk_handling     5682 non-null   int64
 38  gk_kicking      5682 non-null   int64
 39  gk_reflexes     5682 non-null   int64
 40  value           5682 non-null   object
dtypes: float64(1), int64(36), object(4)
memory usage: 1.8+ MB
None

In [33]:
# Tampilkan nama kolom dan tipe data kolom
column_types = data.dtypes
print(column_types)

player             object
country            object
height              int64
weight              int64
age                 int64
club               object
ball_control        int64
dribbling           int64
marking           float64
slide_tackle        int64
stand_tackle        int64
aggression          int64
reactions           int64
att_position        int64
interceptions       int64
vision              int64
composure           int64
crossing            int64
short_pass          int64
long_pass           int64
acceleration        int64
stamina             int64
strength            int64
balance             int64
sprint_speed        int64
agility             int64
jumping             int64
heading             int64
shot_power          int64
finishing           int64
long_shots          int64
curve               int64
fk_acc              int64
penalties           int64
volleys             int64
gk_positioning      int64
gk_diving           int64
gk_handling         int64
gk_kicking          int64
gk_reflexes         int64
value              object
dtype: object

**4. Data Cleansing-Standarisasi kolom Player**

Algoritma yang akan digunakan:

1.   Cek apakah nama player memiliki spasi yang berlebih atau karakter yang abstract.
2.   Cek jika menggunakan tanda baca dan angka

In [39]:
import pandas as pd
import re

# Baca file CSV (kalau datamu CSV)
file_path = '/content/drive/MyDrive/Colab Notebooks/Dataset/player_stats.csv'
df = pd.read_csv(file_path, encoding='latin1')

# Fungsi untuk membersihkan nama pemain
def clean_player_name(name):
    if pd.isna(name):
        return name
    # Hilangkan tanda baca dan angka
    cleaned = re.sub(r'[^a-zA-Z\s]', '', str(name))  # hanya huruf & spasi
    # Hilangkan spasi berlebihan
    cleaned = re.sub(r'\s+', ' ', cleaned).strip()
    return cleaned

# Terapkan ke kolom 'Player' (ganti sesuai nama kolom kamu)
df['Player_Clean'] = df['player'].apply(clean_player_name)

# Lihat hasil
print(df[['player', 'Player_Clean']].head(10))

                     player              Player_Clean
0  Cristian Castro Devenish  Cristian Castro Devenish
1          Silaldo Taffarel          Silaldo Taffarel
2             Thomas DÃ¤hne               Thomas Dhne
3         Michael Sollbauer         Michael Sollbauer
4             Diego Segovia             Diego Segovia
5            ClÃ¡udio Ramos              Cludio Ramos
6           CÃ©dric Zesiger             Cdric Zesiger
7               Pedro Gomes               Pedro Gomes
8          Famara DiÃ©dhiou            Famara Didhiou
9              Sibiry Keita              Sibiry Keita

Kolom player yang menggunakan tanda baca telah diperbaiki

**5. Data Cleansing-Standarisasi kolom Country**

Algoritma yang digunakan:


1.   Membuang nama negara yang mempunyai spasi depan dan belakang
2.   Mengubah semua menjadi kapital
3. Merapikan jika ada spasi berlebih

In [44]:
import pandas as pd
import re

# Baca CSV
file_path = '/content/drive/MyDrive/Colab Notebooks/Dataset/player_stats.csv'
df = pd.read_csv(file_path, encoding='latin1')

def clean_country(country):
    if pd.isna(country):
        return country
    cleaned = str(country).strip()       # buang spasi depan belakang
    cleaned = re.sub(r'\s+', ' ', cleaned)  # rapikan spasi ganda
    return cleaned.title()               # ubah semua huruf ke kapital

df['Country_Clean'] = df['country'].apply(clean_country)

# Cek hasil
print(df[['country', 'Country_Clean']].head(10))

       country Country_Clean
0     Colombia      Colombia
1       Brazil        Brazil
2      Germany       Germany
3      Austria       Austria
4      Uruguay       Uruguay
5     Portugal      Portugal
6  Switzerland   Switzerland
7     Portugal      Portugal
8      Senegal       Senegal
9         Mali          Mali

In [ ]:
Kolom country sudah diperbaiki

**6. Data Cleansing-Standarisasi kolom Age**

Algoritma yang digunakan:


1.   Jika ada menggunakan romawi akan diubah menjadi format integer biasa
2.   Jika ada umur yang dibawah 10, maka 0 akan dihapus menjadi default, contoh: 5

In [45]:
import pandas as pd
import re

# Baca CSV
file_path = '/content/drive/MyDrive/Colab Notebooks/Dataset/player_stats.csv'
df = pd.read_csv(file_path, encoding='latin1')

# ====== Fungsi konversi angka Romawi ke integer ======
roman_map = {
    'M':1000, 'CM':900, 'D':500, 'CD':400,
    'C':100, 'XC':90, 'L':50, 'XL':40,
    'X':10, 'IX':9, 'V':5, 'IV':4, 'I':1
}

def roman_to_int(s):
    s = s.upper()
    i, num = 0, 0
    while i < len(s):
        if i+1<len(s) and s[i:i+2] in roman_map:
            num += roman_map[s[i:i+2]]
            i += 2
        else:
            num += roman_map.get(s[i],0)
            i += 1
    return num

# ====== Fungsi bersihin Age ======
def clean_age(age):
    if pd.isna(age):
        return np.nan
    s = str(age).strip()

    # Jika angka (contoh "05", "15")
    if s.isdigit():
        return int(s)   # otomatis hilangkan leading zero

    # Jika format Romawi
    if re.fullmatch(r'[IVXLCDM]+', s.upper()):
        return roman_to_int(s)

    # Kalau tidak sesuai, coba paksa ke integer
    try:
        return int(float(s))
    except:
        return np.nan

# Terapkan ke kolom Age
df['Age_Clean'] = df['age'].apply(clean_age)

# Cek hasil
print(df[['age', 'Age_Clean']].head(15))

    age  Age_Clean
0    22         22
1    31         31
2    29         29
3    33         33
4    23         23
5    31         31
6    25         25
7    20         20
8    30         30
9    22         22
10   23         23
11   31         31
12   21         21
13   29         29
14   19         19

Kolom age sudah di perbaiki

**7. Data Cleansing-Standarisasi kolom Value**

Algoritma yang digunakan:


1.   Dollar di konversi menjadi euro
2.   Menghapus tanda koma dan titik untuk ribuan

In [49]:
import pandas as pd
import re
import numpy as np

# Baca CSV
file_path = '/content/drive/MyDrive/Colab Notebooks/Dataset/player_stats.csv'
df = pd.read_csv(file_path, encoding='latin1')

# Kurs konversi USD -> EUR
usd_to_eur = 0.95

# Fungsi membersihkan dan konversi Value
def clean_value(value):
    if pd.isna(value):
        return np.nan

    s = str(value).strip()
    s = s.replace('$', '').replace('USD', '').strip()

    # Hapus tanda koma dan titik ribuan
    s = s.replace(',', '').replace('.', '')

    try:
        val_usd = float(s)
        val_eur = val_usd * usd_to_eur
        return "€{:,.0f}".format(val_eur)
    except:
        return np.nan

df['Value_EUR'] = df['value'].apply(clean_value)

# Lihat 10 baris pertama
print(df[['value', 'Value_EUR']].head(10))

        value   Value_EUR
0  $1.400.000  €1,330,000
1    $975.00      €92,625
2  $1.100.000  €1,045,000
3    $650.00      €61,750
4    $300.00      €28,500
5  $2.800.000  €2,660,000
6  $1.600.000  €1,520,000
7    $230.00      €21,850
8  $1.400.000  €1,330,000
9    $475.00      €45,125

Kolom value telah diperbaiki

8. Data Cleansing-Deduplikasi Data

Menampilkan data yang sama dalam kolom Player, Country, Age, Value

In [50]:
duplicate_rows = df[df.duplicated(['player', 'country', 'age','value'], keep=False)]

# Display the duplicate rows
duplicate_rows

,player,country,height,weight,age,club,ball_control,dribbling,marking,slide_tackle,...,fk_acc,penalties,volleys,gk_positioning,gk_diving,gk_handling,gk_kicking,gk_reflexes,value,Value_EUR
154,Maxime CrÃ©peau,Canada,180,88,29,LAFC,45,19,NaN,17,...,14,23,19,70,72,70,70,75,$2.200.000,"€2,090,000"
156,Stefan Thesker,Germany,190,84,32,Holstein Kiel,55,45,NaN,64,...,31,42,40,14,13,7,10,12,$700.00,"€66,500"
157,Cameron John,England,181,78,24,Rochdale,55,53,NaN,57,...,25,32,28,8,13,9,7,8,$350.00,"€33,250"
158,Maxime CrÃ©peau,Canada,180,88,29,LAFC,45,19,NaN,17,...,14,23,19,70,72,70,70,75,$2.200.000,"€2,090,000"
159,Stefan Thesker,Germany,190,84,32,Holstein Kiel,55,45,NaN,64,...,31,42,40,14,13,7,10,12,$700.00,"€66,500"
160,Cameron John,England,181,78,24,Rochdale,55,53,NaN,57,...,25,32,28,8,13,9,7,8,$350.00,"€33,250"

Menghapus data duplikat

In [54]:
# Hapus duplikat (tetap simpan baris pertama yang muncul)
df_deduplicated = df.drop_duplicates(
    subset=['player', 'country', 'age', 'value'],
    keep='first'
).reset_index(drop=True)

# Tampilkan hasil
df_deduplicated.head()

,player,country,height,weight,age,club,ball_control,dribbling,marking,slide_tackle,...,fk_acc,penalties,volleys,gk_positioning,gk_diving,gk_handling,gk_kicking,gk_reflexes,value,Value_EUR
0,Cristian Castro Devenish,Colombia,192,84,22,Atl. Nacional,55,43,NaN,68,...,34,41,33,10,11,6,7,9,$1.400.000,"€1,330,000"
1,Silaldo Taffarel,Brazil,181,80,31,Corinthians,69,70,NaN,56,...,62,48,46,12,15,14,8,14,$975.00,"€92,625"
2,Thomas DÃ¤hne,Germany,193,84,29,Holstein Kiel,25,12,NaN,13,...,15,26,16,64,74,65,68,74,$1.100.000,"€1,045,000"
3,Michael Sollbauer,Austria,187,86,33,SK Rapid Wien,46,48,NaN,66,...,13,22,19,10,10,8,14,9,$650.00,"€61,750"
4,Diego Segovia,Uruguay,191,80,23,Independiente,14,8,NaN,14,...,10,16,5,61,59,62,64,64,$300.00,"€28,500"

**8. Data Enrichment**

Data enrichment adalah proses memperkaya data yang ada dengan menambahkan informasi tambahan dari sumber eksternal untuk meningkatkan kualitas, akurasi, dan nilai data tersebut

Contohnya adalah disini kita akan membuat fitur yang menentukan apakah dia termasuk dari TOP PLAYER atau kah tidak berdasarkan dari value player

In [59]:
import pandas as pd
import re
import numpy as np

# Baca CSV
file_path = '/content/drive/MyDrive/Colab Notebooks/Dataset/player_stats.csv'
df = pd.read_csv(file_path, encoding='latin1')

# Kurs konversi USD -> EUR
usd_to_eur = 0.95

# Fungsi bersihkan dan konversi Value → angka float EUR
def clean_value_num(value):
    if pd.isna(value):
        return np.nan

    s = str(value).strip()
    s = s.replace('$', '').replace('USD', '').strip()
    s = s.replace(',', '').replace('.', '')

    try:
        val_usd = float(s)
        val_eur = val_usd * usd_to_eur
        return val_eur
    except:
        return np.nan

# Simpan versi numeric dan versi format string
df['Value_EUR_num'] = df['value'].apply(clean_value_num)
df['Value_EUR'] = df['Value_EUR_num'].apply(lambda x: "€{:,.0f}".format(x) if pd.notna(x) else np.nan)

# Tentukan threshold top 10%
threshold = df['Value_EUR_num'].quantile(0.9)

# Tambahkan kolom top_player
df['top_player'] = df['Value_EUR_num'] >= threshold

# Contoh hasil
print("Threshold Top Player (90th percentile): €{:,.0f}".format(threshold))
print(df[['player', 'value', 'Value_EUR', 'top_player']].head(50))

Threshold Top Player (90th percentile): €4,360,500
                      player        value    Value_EUR  top_player
0   Cristian Castro Devenish   $1.400.000   €1,330,000       False
1           Silaldo Taffarel     $975.00       €92,625       False
2              Thomas DÃ¤hne   $1.100.000   €1,045,000       False
3          Michael Sollbauer     $650.00       €61,750       False
4              Diego Segovia     $300.00       €28,500       False
5             ClÃ¡udio Ramos   $2.800.000   €2,660,000       False
6            CÃ©dric Zesiger   $1.600.000   €1,520,000       False
7                Pedro Gomes     $230.00       €21,850       False
8           Famara DiÃ©dhiou   $1.400.000   €1,330,000       False
9               Sibiry Keita     $475.00       €45,125       False
10        Abdullah Al Hamdan     $475.00       €45,125       False
11          Patrick Lienhard     $375.00       €35,625       False
12          Vilmer RÃ¶nnberg     $140.00       €13,300       False
13                Prabir Das     $150.00       €14,250       False
14          Tyreece Campbell     $130.00       €12,350       False
15              John Souttar   $2.300.000   €2,185,000       False
16         Xavier Chavalerin   $3.500.000   €3,325,000       False
17            Kim Geon Woong     $400.00       €38,000       False
18            JÃ©rÃ©mie Broh     $950.00       €90,250       False
19            Eirik Blikstad     $100.00        €9,500       False
20          Nicolas Vouilloz     $210.00       €19,950       False
21                  Oli Shaw     $550.00       €52,250       False
22               Ahmet OÄuz   $2.100.000   €1,995,000       False
23   Maximilian MittelstÃ¤dt   $3.100.000   €2,945,000       False
24               Justo Giani     $550.00       €52,250       False
25           GaÃ«tan Paquiez     $775.00       €73,625       False
26             Park Jung Bin     $400.00       €38,000       False
27   Kevin DamiÃ¡n GonzÃ¡lez     $220.00       €20,900       False
28              JuliÃ¡n Aude   $1.000.000     €950,000       False
29                    Andrew   $2.100.000   €1,995,000       False
30          Siriki DembÃ©lÃ©   $1.600.000   €1,520,000       False
31           Olamide Shodipo     $675.00       €64,125       False
32            Michael Boxall     $675.00       €64,125       False
33         TomÃ¡s FernÃ¡ndez     $250.00       €23,750       False
34      Federico Lanzillotta   $1.100.000   €1,045,000       False
35             Dawid Drachal     $110.00       €10,450       False
36              Tom Grivosti     $400.00       €38,000       False
37         Ruslan Neshcheret     $700.00       €66,500       False
38                   PedrÃ£o   $1.500.000   €1,425,000       False
39         Kalidou Koulibaly  $46.500.000  €44,175,000        True
40             Lorenzo Reyes   $3.000.000   €2,850,000       False
41             Festy Ebosele     $925.00       €87,875       False
42         Seiminlen Doungel     $140.00       €13,300       False
43          Alexandru Oroian     $475.00       €45,125       False
44            Ovidiu Popescu     $900.00       €85,500       False
45                Ziya Erdal     $250.00       €23,750       False
46              Joey Kesting     $200.00       €19,000       False
47      Noureddine El Bahhar     $100.00        €9,500       False
48                  Vilanova     $700.00       €66,500       False
49          Leonardo Capezzi     $625.00       €59,375       False